html
  head
    title weasel-templating on Express
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../stylesheets/style.css')

  body
    h1.border.center pug meets weasel on Express
    h2.center#pug-success-message
    | page rendered from Pug into HTML master weasel!
    | #{title}
    p#pug-variable=message
    
      hr
      h2.center Login
      form(action='/app', method='post').center
        div
          label email:
          input(type='text', name='email')
        div
          input(type='submit', value='Log In')

      hr
      h2.center Sign-up
      form(action='/register', method='post').center
        div
          label email:
          input(type='text', name='email')
        div
          input(type='submit', value='Register')
